<%=@game.player1.name%> vs <%=@game.player2.name%> <br> 
<%=@game.player1.hp%>HP ____ <%=@game.player2.hp%>HP
<form action="/attack" method="post">
	<input type="submit" value="attack player2">
</form>
<% if @attack_confirmation %>
	<%=@attack_confirmation%>
<% end %>
